.placeholder
  color: #aaa

.flexbox #page
  background: -moz-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.9) 5%,rgba(255, 255, 255, 0.5) 10%,rgba(0,0,0,0.35) 38%,rgba(0,0,0,0.5) 100%)
  background: -webkit-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.9) 5%,rgba(255, 255, 255, 0.5) 10%,rgba(0,0,0,0.35) 38%,rgba(0,0,0,0.5) 100%)
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.9) 5%,rgba(255, 255, 255, 0.5) 10%,rgba(0,0,0,0.35) 38%,rgba(0,0,0,0.5) 100%)
  padding-top: 0px
  padding-bottom: 0px
  padding-left: 0px
  padding-right: 0px
  min-height: 100%
  display: flex
  align-items: center
  justify-content: center
  color: #000

.flexbox #content
  margin: 0

/* Responsive Images */
#description img,#thankyoumsg img, #logo
  max-width: 100%
  height: auto

#logo
  background: -moz-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.4) 0%,rgba(255, 255, 255, 0.3) 35%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%)
  background: -webkit-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.4) 0%,rgba(255, 255, 255, 0.3) 35%,rgba(255,255,255, 0) 65%,rgba(255,255,255,0) 100%)
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.4) 0%,rgba(255, 255, 255, 0.3) 35%,rgba(255,255,255, 0) 65%,rgba(255,255,255,0) 100%)


#logo .logo-container
  float: none
  margin: 0 auto

#credit
  background: -moz-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%)
  background: -webkit-radial-gradient(ellipse at center, rgba(0, 255, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%)
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%)

#social .fa
  text-shadow: 1px 1px 1px #8f8f8f

#headline
  font-weight: 700
  font-size: 3.5rem
  color: #efefef
  text-shadow:1px 1px 1px #000000

#description
  font-size: 1.25rem

#form
    #email
      border-bottom-right-radius: 4px
      border-top-right-radius: 4px

    .btn-primary
        font-size: 1.1rem
        border:1px solid #efefef
        background: rgba(13, 110, 253, 0.5)

    .btn-primary:hover,
    .btn-primary:active
        color: black
        text-shadow: 0 -1px 0 rgb(255 255 255 / 30%)
        border-color: rgba(13, 110, 253, 0.5)
        background-color: rgba(255, 255, 255, 0.5)

@media (max-width: 767px)

    .flexbox #page
        background: -moz-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.85) 0%,rgba(255, 255, 255, 0.5) 37%,rgba(255,255,255,0.35) 68%,rgba(0,0,0,0.1) 100%)
        background: -webkit-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.85) 0%,rgba(255, 255, 255, 0.5) 37%,rgba(255,255,255,0.35) 68%,rgba(0,0,0,0.1) 100%)
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.85) 0%,rgba(255, 255, 255, 0.5) 37%,rgba(255,255,255,0.35) 68%,rgba(0,0,0,0.1) 100%)
