<div class="flexbox">
    <div id="page">
        <div id="content" class="animated fadeIn d-block">
			
            <div id="logo" class="row">
                <div class="logo-container col-6 col-md-6">
                    <img id="logo" class="mb-2" src="/assets/logo.svg">
                </div>
            </div>
			
            <h1 id="headline" class="display-1 mb-3 text-dark">Coming Soon!!!</h1>
			
			<div id="description" class="mb-4">A feel good financial help is coming!</div>
			
			<!-- <form id="form" action="" method="post">
				<div id="field-wrapper">
					<div class="row">
						<div class="col-md-12 seperate"><div class="input-group"><input id="email" name="EMAIL" class="form-control input-lg form-el mx-2" type="email" placeholder="Email" required="">
					    <span class="input-group-btn"><button id="subscribe-btn" type="submit" class="btn btn-lg btn-primary form-el noglow mx-2">Notify Me</button></span></div></div>
					</div>
				</div>
			</form> -->

            <app-timer class="mt-4 d-block"></app-timer>

			<div id="social">
                <a href="https://codeberg.org/gccgeek" target="_blank"><i class="mx-2 text-dark fa-solid fa-code-branch fa-2x"></i></a>
				<a href="https://www.facebook.com/gilbert.maloloyon" target="_blank"><i class="mx-2 text-dark fa fa-brands fa-facebook-f fa-2x"></i></a>
				<a href="mailto:gilbert@gccgeek.com" target="_blank"><i class="mx-2 text-dark fa fa-envelope fa-2x"></i></a>
                
			</div>

			<div id="credit" class="d-flex align-items-center justfiy-content-center mt-3 mt-mb-5">
					<div class="col-6 align-items-center justfiy-content-center" style="text-align: right">
						<span class="text-light pr-3 d-inline-block" style="padding-right: 5px">Created by</span> 
					</div>
					
					<div class="col-6 align-items-center justfiy-content-center" style="text-align: left">
						<span class="pl-3 d-inline-block" style="padding-left: 5px"><a target="_blank" href="https://www.gccgeek.com/"><img id="gccgeek-logo" height="35" src="https://www.gccgeek.com/wp-content/uploads/2021/12/logo.png" alt="authored by gccgeek"></a></span>
					</div>
			</div>	
		</div>
    </div>
</div>

