.wrapper
  max-width: 300px
  margin: 0 auto
  font: normal 14px sans-serif

  .targe-date
    text-align: center
    color: #333333
    text-shadow: 1px 1px 3px #fefefe

  .description,
  .times
    display: flex
    > p
      width: 25%
      margin: 10px 0 0 0
      text-align: center

  .description
      color: #8f8f8f

  .times
    font-size: 2rem
    font-family: 'fantasy', "Helvetica Neue", Arial, sans-serif
    font-weight: 700
    color: #fcca07
    
    p
      text-shadow: 1px 1px 3px #333333
