<div class="wrapper mx-auto text-center">
  <p class="targe-date">
    Countdown to {{ fetchDisplayTargetMonth() + ' ' + fetchDisplayTargetDay() + ', ' + fetchDisplayTargetYear() }}
  </p>
  <div class="description">
    <p>Days</p>
    <p>Hours</p>
    <p>Minutes</p>
    <p>Seconds</p>
  </div>
  <div class="times">
    <p id="days">{{ fetchDisplay("days") }}</p>
    <p id="hours">{{ fetchDisplay("hours") }}</p>
    <p id="mins">{{ fetchDisplay("minutes") }}</p>
    <p id="seconds">{{ fetchDisplay("seconds") }}</p>
  </div>
  <hr class="py-3 d-block" />
</div>

