/* You can add global styles to this file, and also import other style files */
html, .flexbox
  height: 100%
  margin-top: 0 !important
  overflow: hidden

body
  text-align: center
  margin: 0
  padding: 0 0px
  height: 100%
  height:100%
  background-image: url(/assets/bg-ehulog-nature.jpg)
  background-color: #ffffff
  background-repeat: no-repeat
  background-position: center bottom
  background-attachment: fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
